@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Diphylleia&family=Dokdo&family=Nanum+Brush+Script&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&display=swap');
body{
    font-family: 'Nanum Brush Script';
}

.btn{
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-cadetblue{
    background-color: cadetblue;
    color: white;
    font-size: 12pt;
}

.btn-purple{
    background-color: purple;
    color: white;
    font-size: 12pt;
}

.btn-black{
    background-color: black;
    color: white;
    font-size: 12pt;
}

.btn-orange{
    background-color: orange;
    color: black;
    font-size: 12pt;
}