#box1>ul{
    list-style: none;
    border: 3px groove brown;
    background-color: aquamarine;
    margin: auto;
    padding: 50px;
    text-align: center;
    border-radius: 10px 50px 70px 10px;
    box-shadow: 15px 15px 15px cadetblue;
}

#box1>h1{
    border: 3px solid black;
    margin-right: 750px;
    border-radius: 100px;
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px gray;
}

#box1>p{
    position: absolute;
    top: 300px;
    margin: auto;

    height: 20px;
    border: 3px dotted black;
    background-color: coral;
    box-shadow: 5px 5px 5px chocolate;
}